
{% extends 'base.html' %}
{% block body %}
<h1>Information</h1>

{{detail}}
<form method="GET">
<ul>    {%if detail.sessions%}
            {% for a in detail.sessions %}
            <li>{{a}}</li>
                {% if details %}
                    <li><a href="{{url_for('deregisterSession', eventNum=detail.eventNum, SessNum=detail.SessNum)}}">Deregister</a></li>
                {%else%}
                    <li><a href="{{url_for('deregisterSession', eventNum=detail.eventNum, SessNum=detail.SessNum)}}">Deregister</a></li>
                {%endif%}
            {% endfor %}
        {%else%} 
            <a href="{{url_for('deregisterEvent', eventNum=detail.eventNum)}}">Deregister</a>
        {%endif%}

         
</form>

</ul>

{% endblock %}
